@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body{
    background-color: black;
}
.content h1{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Poppins';
    font-size: 175px;
    color: white;
}
.content span{
    color: red;
}